@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Medium.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Medium.woff') format('woff'),
        url('../fonts/RobotoSlab-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
    font-family: "Arial";
}
img{
    width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
hr{
    border: 0;
    border-top: 1px;
    width: 713px;
    height: 1px;
    background-color: #e4e4ec;
}
.header{
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.1));
    background-color: #ffffff;
}
.wrapper{
    margin: 0 auto;
    max-width: 960px;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}
.up-menu{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #1f1f56;
    z-index: 1;
}
.up-menu li{
    padding: 15px 0px;
}
.up-menu a{
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #b1b1d2;
    align-items: center;
}
.social-networks svg{ 
    fill: #fff;
}
.social-networks li:hover > a svg {
    fill: #fd8300;
    transition: all 0.5s ease;
}
.up-menu li:hover > a{
    color: #fd8300;  
    transition: all 0.5s ease;
}
.up-menu ul{
    column-gap: 22px;
}
.phone,
.mail,
.skype {
    position: relative;
}
.phone svg,
.mail svg,
.skype svg {
    position: absolute;
    /* top: 32px; */
    left: -30px;
}
.phone::before,
.mail::before,
.skype::before{
    content: "";
    position: absolute;
    top: 32px;
    left: -320px;
}
.header{
    background-color: #fff;
    padding-top: 55px;
    align-items: center;
}
.header-contacts{
    padding: 30px 0px;
    align-items: center;
}
.logo img{
    width: 100%;
}
.phone-number a{
    padding-right: 30px;
    font-size: 18px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
}
.phone svg {
    fill: #1f1f56;
}
.phone:hover > svg{
    fill: #fd8300;
    transition: all 0.5s ease;
}
.phone-number span::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 51px;
    background-color: #e4e4ec;
}
.mail a{
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
    display: flex;
    align-items: center;
    column-gap: 12px;
}
.mail span{
    text-decoration: underline;
}
.mail svg{
    fill: #1f1f56;
}
.mail:hover > svg {
    fill: #fd8300;
    transition: all 0.5s ease;
}
.skype:hover > svg {
    fill: #fd8300;
    transition: all 0.5s ease;
}
.skype:hover > svg {
    fill: #fd8300;
    transition: all 0.5s ease;
}
.order a{
    color: #1f1f56;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 25px;
    border: 2px solid #fd8300;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
}
.order a:hover{
    color: #fd8300;
    transition: all 0.5s ease;
}
.img{
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url(../img/Rectangle\ 9.png);
    text-align: center;
}
.img img{
    width: 100%;
}
.img h2{
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
}
.img span{
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
}
.img p{
    padding-top: 12px;
    font-size: 24px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;
}
.img b{
    font-size: 40px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;
}
.about-company h1{
    padding: 28px 0px;
    font-size: 30px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}
.about-company p{
    max-width: 677px;
    max-height: 193px;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    padding-bottom: 25px;
}
.about-company a{
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: #fd8300;
}
.about-company a:hover{
    text-decoration: underline;
}
.center-left{
    padding-bottom: 46px;
}
.projects h2{
    padding-top: 30px;
    padding-bottom: 24px;
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}
.figcaption h3{
    font-size: 14px;
    line-height: 24px;
    color: #1f1f56;
    font-weight: bold;
    column-gap: 10px;
}
.figcaption h3:hover{
    text-decoration: underline;
    transition: all 0.5s ease;
}
.figcaption p{
    max-height: 53px;
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    column-gap: 10px;
} 
aside {
    padding-top: 36px;
}
.aside-menu{
    position: sticky;
    top: 60px;
}
.menu li:last-child{
    border-radius: 0px 0px 3px 3px;
    overflow: hidden;
}
.menu{
    min-width: 220px;
}
.menu h3{
    padding: 17px;
    border-radius: 3px 3px 0px 0px;
    background-color: #1f1f56;
    color:#fff;
  }
  .submenu{
    display:none;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
  }
  .submenu a{
    background-color:#e4e4ec;
  }
  .menu a:hover{
    background-color: #fd8300;
    color: #fff;
    transition: all 0.5s ease;
  }
  .submenu a:hover{
    background-color: #cecedd;
    transition: all 0.5s ease;
  }
  .menu li:hover > .submenu{
    display: block;
    transition: all 0.5s ease;
  }
  .menu > li > a{
    position: relative;
  }
  .menu > li > a:before{
    content: "";
    position: absolute;
    top: 50%;
    right: 16px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #666666;
    border-left: 2px solid #666666;
    transform: translateY(-50%) rotate(135deg);
    transition: all is ease;
  }
  .menu > li:hover > a:before {
    color: #ffffff;
    border-color: #fff;
    transform: translateY(-50%) rotate(225deg);
    transition: all 0.5s ease;
  }
  .menu a{
    display: block;
    padding: 17px;
    box-shadow: inset 0px -1px 0px #cecedd;
    font-size: 14px;
    line-height: 24px;
    color: #25252c;
    background-color: #e4e4ec;
  }
  footer{
    align-items: flex-start;
    justify-content: start;
    background-color: #ededf5;
  }
  .down-menu{
    padding-top: 40px;
    align-items: start;
    justify-content: space-between;
    align-items: flex-start;
  }
  .down-left{
    column-gap: 145px;
  }
  .down-right{
    column-gap: 90px;
    align-items: flex-start;
  }
.left{
    padding-bottom: 30px;
}
  .left p,
  .right p{
    font-size: 14px;
    line-height: 26px;
    color: #666666;
  }
  .left ul p:hover,
  .right ul p:hover{
    color: #fd8300;
    text-decoration: underline;
  }
  .company{
    background-color: #dcdce6;
  }
  .company p{
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    text-align: center;
    padding: 15px 0px 18px;
  }






  
.houses li:hover > a{
    color: #fff;
}
.houses a{
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #25252c;
    padding-left: 10px;
    padding-right: 25px;
}
.houses li{
    padding: 8px 0px;
    box-shadow: inset 0px 1px 0px #cecedd;
}
.sectors li,
.houses li{
    border-radius: 3px 3px 0px 0px;
    position: relative;
}
.sectors li:last-child,
.houses li:last-child{
    border-radius: 0px 0px 3px 3px;
}
.dog-houses,
.houses{
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    min-width: 140px;
    border-radius: 3px;
    background-color: #e4e4ec;
}
.houses::before{
    content: "";
    position: absolute;
    border-top: 5px solid transparent;
    width: 100%;
    top: -5px;
    left: 0;
}
.dog-houses{
    top: 0;
    left: calc(100% + 4px);
}
.houses li:hover{
    background-color: #fd8300;
}
.houses,
.dog-houses{
    list-style: none;
    display:none; 
}
.sectors li:hover > .houses,
.houses li:hover > .dog-houses{
    display: block;
} 
.dog-houses::before{
    content: "";
    position: absolute;
    top: 0;
    left: -4px;
    border-left: 4px solid transparent;
    height: 100%;
}
.houses > li > a{
    position: relative;
  }
  .houses > li > a:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 110px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #666666;
    border-left: 2px solid #666666;
    transform: translateY(-50%) rotate(135deg);
    transition: all is ease;
  }
  .houses > li:hover > a:before {
    color: #fff;
    border-color: #fff;
    transform: translateY(-50%) rotate(225deg);
    transition: all 0.5s ease;
  } 

  .price h1{
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    padding-bottom: 22px;
    padding-top: 40px;
}
.price p{
    font-size: 14px;
    line-height: 24px;
    color: #666666;
}
.price span p:last-child{
    padding-bottom: 25px;
}
table{
    margin-bottom: 27px;
    width: 100%;
    border-collapse: collapse;
    background-color: #e4e4ec;
    border-radius: 3px;
    overflow: hidden;
}
th{
    padding: 10px;
    background-color: #1f1f56;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
  }
thead tr+tr{
    border:  1px solid #274569;
  }
thead th{
    box-shadow: inset 1px 0px 0px #274569;
}
tbody>tr{
    width: 960px;
    height: 41px;
    background-color: #e4e4ec;
}  
tbody>tr+tr{
    box-shadow: inset 0px 1px 0px #cecedd;
}
  td{
    padding: 15px;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    align-items: center;
    box-shadow: inset 1px 0px 0px #cecedd;
}   
 td:first-child{
    text-align: left;
}
td:last-child{
    text-align: right;
}
td+td:not(:last-child){
    text-align: center;
}
tr:hover{
    background-color: #fd8300;
    transition: all 0.5s ease;
  }
tr:hover > td{
    color: #fff;
}
.price{
    padding-bottom: 33px;
}
.price span p:last-child{
    padding-bottom: 27px;
}
.price a{
    font-size: 14px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;
    margin-bottom: 33px;
}
.price a:hover{
    text-decoration: underline;
    transition: all 0.5s ease;
}
span > hr {
    border: 0;
    border-top: 1px;
    width: 960px;
    height: 1px;
    background-color: #e4e4ec;
}
.projects-two{
    min-width: 960px;
}
.projects-two h2{
    padding-top: 30px;
    padding-bottom: 24px;
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}
figcaption{
    position: relative;
  }
  figcaption a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  img{
    transition: all 1s ease;
  }
  a:hover ~ picture > img{
    transform: scale(1.1);
  }
  a:hover ~ h3{
    transform: scale(1.1);
    transition: all 1s ease;
  }



  

.ocd{
    justify-content: start;
    column-gap: 88px;
}
.contacts-ocd{
    padding-bottom: 33px;
}
.contacts-ocd h1{
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    padding-top: 40px;
    padding-bottom: 27px;
}
.contacts-ocd h3{
    font-size: 14px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    padding-bottom: 12px;
}
.contacts-ocd p{
    font-size: 14px;
    line-height: 21px;
    color: #666666;
    padding-bottom: 7px;
}
.mail-two{
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    color: #25252c;
}
.Consultation{
    margin-right: 74px;
}

.phone {
    font-size: 18px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
}
.map{
    overflow: hidden;
    position: relative;
    min-width: 466px;
    min-height: 400px;
}
iframe{
    height: 100%;
    position: absolute;
    top: -71px;
    width: 100%;
    border: none;
}
.contacts span>a {
    color: #25252c;
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
}

.contacts{
    padding-bottom: 25px;
}
.mff{
    padding-top: 35px;
    padding-bottom: 40px;
    width: 100%;
}

.mff h2{
    font-size: 14px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    padding-bottom: 10px;
}
.feedback-form{
    width: 50% ;    
}
input{ 
    border: 1px solid #c5c5d4;
    box-sizing: border-box;
    border-radius: 3px;
}
::placeholder{
    color: #9999a6;
    font-style: italic;
}
label input{
    font-size: 13px;
    line-height: 21px;
  }
  .tt input {
    padding: 15px;
  }
  input[type=text],
  input[type=tel]{
    width: 100%;    
    padding: 10px 15px;
    padding-right: 55px;
    margin-bottom: 10px;
}
  .text input{
    font-size: 13px;
    line-height: 21px;
  }
  
  textarea{
    width: 100%;    
    min-height: 105px;
    max-height: 155px;
    padding: 15px;
    border: 1px solid #c5c5d4;
    font-size: 13px;
    line-height: 21px;
    font-family: "Arial";
    margin-bottom: 10px;
    resize: vertical;
    box-sizing: border-box;
    border-radius: 3px;
  }
  
  input[type=checkbox]{
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 3px;
  }
  
  .check{
    position: relative;
  }
  
  .check span{
    position: absolute;
  }
  
  input:checked + span{
    top: 3px;
    left: 45%;
    width: 5px;
    height: 8px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    transform: translate(-50%, -50%) rotate(-135deg);
  }
  
  input[type=submit]{
    width: 140px;
    height: 41px;
    border: none;
    border-radius: 21px;
    background-color: #fd8300;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin-right: 30px;
  }
  
  label span{
    font-size: 13px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
  }
  
  
  
  
  
  