@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Medium.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Medium.woff') format('woff'),
        url('../fonts/RobotoSlab-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
    /* box-sizing: border-box; */
    font-family: "Arial";
    /* flex-wrap: wrap; */
}
html{
    font-size: 0.7px;
}
img{
    width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
hr{
    border: 0;
    border-top: 1rem;
    height: 1rem;
    background-color: #e4e4ec;
}
.header{
    filter: drop-shadow(0 0 5rem rgba(0,0,0,0.1));
    background-color: #ffffff;
}
.wrapper{
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 960rem;
}
.flex-between {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.up-menu ul, 
.up-menu p {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .dark-bgc {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    z-index: 1;
  }
  .flex {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
  }
  .burger {
    width: 50px;
    height: 100%;
    cursor: pointer;
    padding-top: 10px;  
  }
  .bord {
    display: block;
    margin: 4px;
    width: 30px;
    height: 5px;
    border-radius: 2px;
    background-color: #fff;
    transition: all 1s ease;
  }
  .b1 {
    width: 30px;
  }
  .b2 {
    width: 30px;
  }
  .b3 {
    width: 30px;
    top: 10px;
  }
  .menu_two {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 2;
    background-color: #1f1f56;
    border: #000;
    transition: all .5s ease;
  }
  .cancel {
    position: absolute;
    top: -10px;
    right: 5px;
    cursor: pointer;
  }
  .top-line {
    padding: 15px 10px;
  }
  .menu_two li {
    padding: 15px 10px;
  }
  @media screen and (min-width: 868px) {
    .burger {
      display: none;
    }
    .menu_two {
      position: static;
      display: flex;
      justify-content: space-between;
      column-gap: 10px;
    }
    .menu_two li {
      padding: 15px 10px;
    }
    .cancel {
      display: none;
    }
  }

.up-menu{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #1f1f56;
    z-index: 1;
    justify-content: space-between;
}
.up-menu li{
    padding: 15rem 0rem;
}
.up-menu a{
    font-size: 14rem;
    letter-spacing: 2rem;
    line-height: 24rem;
    color: #b1b1d2;
    align-items: center;
}
.social-networks svg{ 
    fill: #fff;
}
.social-networks li:hover > a svg {
    fill: #fd8300;
    transition: all 0.5s ease;
}
.up-menu li:hover > a{
    color: #fd8300;  
    transition: all 0.5s ease;
}
.up-menu ul{
    column-gap: 22rem;
}
.phone,
.mail,
.skype {
    position: relative;
}
.phone svg,
.mail svg,
.skype svg {
    position: absolute;
    /* top: 32rem; */
    left: -30rem;
}
.phone::before,
.mail::before,
.skype::before{
    content: "";
    position: absolute;
    top: 32rem;
    left: -320rem;
}
.header{
    background-color: #fff;
    padding-top: 55rem;
    align-items: center;
}
.header-contacts{
    padding: 30rem 0rem;
    align-items: center;
}
.logo img{
    width: 100%;
}
.phone-number a{
    padding-right: 30rem;
    font-size: 18rem;
    line-height: 24rem;
    color: #25252c;
    font-weight: bold;
}
.phone svg {
    fill: #1f1f56;
}
.phone:hover > svg{
    fill: #fd8300;
    transition: all 0.5s ease;
}
.phone-number span::after{
    content: "";
    position: absolute;
    width: 1rem;
    height: 51rem;
    background-color: #e4e4ec;
}
.mail a{
    font-size: 16rem;
    line-height: 24rem;
    color: #25252c;
    display: flex;
    align-items: center;
    column-gap: 12rem;
}
.mail span{
    text-decoration: underline;
}
.mail svg{
    fill: #1f1f56;
}
.mail:hover > svg {
    fill: #fd8300;
    transition: all 0.5s ease;
}
.skype:hover > svg {
    fill: #fd8300;
    transition: all 0.5s ease;
}
.skype:hover > svg {
    fill: #fd8300;
    transition: all 0.5s ease;
}
.order a{
    color: #1f1f56;
    font-size: 16rem;
    line-height: 24rem;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 25rem;
    border: 2rem solid #fd8300;
    padding: 15rem 30rem;
    justify-content: center;
    align-items: center;
}
.order a:hover{
    color: #fd8300;
    transition: all 0.5s ease;
}
.img{
    padding-top: 40rem;
    padding-bottom: 40rem;
    background-image: url(../img/Rectangle\ 9.png);
    text-align: center;
}
.img img{
    width: 100%;
}
.img h2{
    font-size: 30rem;
    letter-spacing: 2rem;
    line-height: 24rem;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
}
.img span{
    font-size: 14rem;
    line-height: 24rem;
    color: #ffffff;
    text-align: center;
}
.img p{
    padding-top: 12rem;
    font-size: 24rem;
    line-height: 24rem;
    color: #fd8300;
    font-weight: bold;
}
.img b{
    font-size: 40rem;
    line-height: 24rem;
    color: #fd8300;
    font-weight: bold;
}
.about-company{
    width: 100%;
}
.about-company h1{
    padding: 28rem 0rem;
    font-size: 30rem;
    line-height: 24rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}
.about-company p{
    max-width: 677rem;
    max-height: 193rem;
    font-size: 14rem;
    line-height: 24rem;
    color: #666666;
    padding-bottom: 25rem;
    width: 100%;
}
.about-company a{
    font-size: 14rem;
    line-height: 24rem;
    font-weight: bold;
    color: #fd8300;
}
.about-company a:hover{
    text-decoration: underline;
}
.center-left{
    padding-bottom: 46rem;
}
.projects h2{
    padding-top: 30rem;
    padding-bottom: 24rem;
    font-size: 24rem;
    line-height: 24rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}
.figure{
    max-width: 220px;
}
.figcaption h3{
    font-size: 14rem;
    line-height: 24rem;
    color: #1f1f56;
    font-weight: bold;
    column-gap: 10rem;
}
.figcaption h3:hover{
    text-decoration: underline;
    transition: all 0.5s ease;
}
.figcaption p{
    max-height: 53rem;
    font-size: 13rem;
    line-height: 18rem;
    color: #9999a6;
    column-gap: 10rem;
} 
.figcaption img{
    max-width: 220rem;
    justify-content: center;
}
aside {
    padding-top: 36rem;
}
.aside-menu{
    position: sticky;
    top: 60rem;
}
.menu li:last-child{
    border-radius: 0rem 0rem 3rem 3rem;
    overflow: hidden;
}
.menu{
    min-width: 220rem;
    padding-left: 15px;
}
.menu h3{
    font-size: 17rem;
    padding: 17rem;
    border-radius: 3rem 3rem 0rem 0rem;
    background-color: #1f1f56;
    color:#fff;
  }
  .submenu{
    display:none;
    font-size: 14rem;
    line-height: 24rem;
    color: #666666;
  }
  .submenu a{
    background-color:#e4e4ec;
  }
  .menu a:hover{
    background-color: #fd8300;
    color: #fff;
    transition: all 0.5s ease;
  }
  .submenu a:hover{
    background-color: #cecedd;
    transition: all 0.5s ease;
  }
  .menu li:hover > .submenu{
    display: block;
    transition: all 0.5s ease;
  }
  .menu > li > a{
    position: relative;
  }
  .menu > li > a:before{
    content: "";
    position: absolute;
    top: 50%;
    right: 16rem;
    width: 7rem;
    height: 7rem;
    border-top: 2rem solid #666666;
    border-left: 2rem solid #666666;
    transform: translateY(-50%) rotate(135deg);
    transition: all is ease;
  }
  .menu > li:hover > a:before {
    color: #ffffff;
    border-color: #fff;
    transform: translateY(-50%) rotate(225deg);
    transition: all 0.5s ease;
  }
  .menu a{
    display: block;
    padding: 17rem;
    box-shadow: inset 0rem -1rem 0rem #cecedd;
    font-size: 14rem;
    line-height: 24rem;
    color: #25252c;
    background-color: #e4e4ec;
  }
  footer{
    align-items: flex-start;
    justify-content: start;
    background-color: #ededf5;
  }
  .down-menu{
    padding-top: 40rem;
    justify-content: center;
    /* align-items: flex-start;     */
  }
  .down-left{
    column-gap: 145rem;
  }
  .down-right{
    column-gap: 90rem;
    align-items: flex-start;
  }
.left{
    padding-bottom: 30em;
}
  .left p,
  .right p{
    font-size: 14rem;
    line-height: 26rem;
    color: #666666;
  }
  .left ul p:hover,
  .right ul p:hover{
    color: #fd8300;
    text-decoration: underline;
  }
  .company{
    background-color: #dcdce6;
  }
  .company p{
    font-size: 13rem;
    line-height: 18rem;
    color: #9999a6;
    text-align: center;
    padding: 15rem 0rem 18rem;
  }






  
.houses li:hover > a{
    color: #fff;
}
.houses a{
    font-size: 12rem;
    letter-spacing: 2rem;
    line-height: 24rem;
    color: #25252c;
    padding-left: 10rem;
    padding-right: 25rem;
}
.houses li{
    padding: 8rem 0rem;
    box-shadow: inset 0rem 1rem 0rem #cecedd;
}
.sectors li,
.houses li{
    border-radius: 3rem 3rem 0rem 0rem;
    position: relative;
}
.sectors li:last-child,
.houses li:last-child{
    border-radius: 0rem 0rem 3rem 3rem;
}
.dog-houses,
.houses{
    position: absolute;
    top: calc(100% + 5rem);
    left: 0;
    min-width: 140rem;
    border-radius: 3rem;
    background-color: #e4e4ec;
}
.houses::before{
    content: "";
    position: absolute;
    border-top: 5rem solid transparent;
    width: 100%;
    top: -5rem;
    left: 0;
}
.dog-houses{
    top: 0;
    left: calc(100% + 4rem);
}
.houses li:hover{
    background-color: #fd8300;
}
.houses,
.dog-houses{
    list-style: none;
    display:none; 
}
.sectors li:hover > .houses,
.houses li:hover > .dog-houses{
    display: block;
} 
.dog-houses::before{
    content: "";
    position: absolute;
    top: 0;
    left: -4rem;
    border-left: 4rem solid transparent;
    height: 100%;
}
.houses > li > a{
    position: relative;
  }
  .houses > li > a:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 110rem;
    width: 7rem;
    height: 7rem;
    border-top: 2rem solid #666666;
    border-left: 2rem solid #666666;
    transform: translateY(-50%) rotate(135deg);
    transition: all is ease;
  }
  .houses > li:hover > a:before {
    color: #fff;
    border-color: #fff;
    transform: translateY(-50%) rotate(225deg);
    transition: all 0.5s ease;
  } 

  .price h1{
    font-size: 24rem;
    line-height: 24rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    padding-bottom: 22rem;
    padding-top: 40rem;
}
.price p{
    font-size: 14rem;
    line-height: 24rem;
    color: #666666;
}
.price span p:last-child{
    padding-bottom: 25rem;
}
table{
    margin-bottom: 27rem;
    width: 100%;
    border-collapse: collapse;
    background-color: #e4e4ec;
    border-radius: 3rem;
    overflow: hidden;
}
th{
    padding: 10rem;
    background-color: #1f1f56;
    font-size: 14rem;
    line-height: 24rem;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
  }
thead tr+tr{
    border:  1rem solid #274569;
  }
thead th{
    box-shadow: inset 1rem 0rem 0rem #274569;
}
tbody>tr{
    width: 960rem;
    height: 41rem;
    background-color: #e4e4ec;
}  
tbody>tr+tr{
    box-shadow: inset 0rem 1rem 0rem #cecedd;
}
  td{
    padding: 15rem;
    font-size: 14rem;
    line-height: 24rem;
    color: #666666;
    align-items: center;
    box-shadow: inset 1rem 0rem 0rem #cecedd;
}   
 td:first-child{
    text-align: left;
}
td:last-child{
    text-align: right;
}
td+td:not(:last-child){
    text-align: center;
}
tr:hover{
    background-color: #fd8300;
    transition: all 0.5s ease;
  }
tr:hover > td{
    color: #fff;
}
.price{
    padding-bottom: 33rem;
}
.price span p:last-child{
    padding-bottom: 27rem;
}
.price a{
    font-size: 14rem;
    line-height: 24rem;
    color: #fd8300;
    font-weight: bold;
    margin-bottom: 33rem;
}
.price a:hover{
    text-decoration: underline;
    transition: all 0.5s ease;
}
/* span > hr {
    border: 0;
    border-top: 1rem;
    width: 960rem;
    height: 1rem;
    background-color: #e4e4ec;
} */
.projects-two{
    min-width: 960rem;
}
.projects-two h2{
    padding-top: 30rem;
    padding-bottom: 24rem;
    font-size: 24rem;
    line-height: 24rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}
figcaption{
    position: relative;
  }
  figcaption a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  img{
    transition: all 1s ease;
  }
  a:hover ~ picture > img{
    transform: scale(1.1);
  }
  a:hover ~ h3{
    transform: scale(1.1);
    transition: all 1s ease;
  }



  

.ocd{
    justify-content: start;
    column-gap: 88rem;
}
.contacts-ocd{
    padding-bottom: 33rem;
}
.contacts-ocd h1{
    font-size: 24rem;
    line-height: 24rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    padding-top: 40rem;
    padding-bottom: 27rem;
}
.contacts-ocd h3{
    font-size: 14rem;
    line-height: 24rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    padding-bottom: 12rem;
}
.contacts-ocd p{
    font-size: 14rem;
    line-height: 21rem;
    color: #666666;
    padding-bottom: 7rem;
}
.mail-two{
    font-size: 16rem;
    line-height: 24rem;
    text-decoration: underline;
    color: #25252c;
}
.Consultation{
    margin-right: 74rem;
}

.phone {
    font-size: 18rem;
    line-height: 24rem;
    color: #25252c;
    font-weight: bold;
}
.map{
    overflow: hidden;
    position: relative;
    min-width: 466rem;
    min-height: 400rem;
}
iframe{
    height: 100%;
    position: absolute;
    top: -71rem;
    width: 100%;
    border: none;
}
.contacts span>a {
    color: #25252c;
    font-size: 16rem;
    line-height: 24rem;
    text-decoration: underline;
}

.contacts{
    padding-bottom: 25rem;
}
.mff{
    padding-top: 35rem;
    padding-bottom: 40rem;
    width: 100%;
}

.mff h2{
    font-size: 14rem;
    line-height: 24rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    padding-bottom: 10rem;
}
.feedback-form{
    width: 50% ;    
}
input{ 
    border: 1rem solid #c5c5d4;
    box-sizing: border-box;
    border-radius: 3rem;
}
::placeholder{
    color: #9999a6;
    font-style: italic;
}
label input{
    font-size: 13rem;
    line-height: 21rem;
  }
  .tt input {
    padding: 15rem;
  }
  input[type=text],
  input[type=tel]{
    width: 100%;    
    padding: 10rem 15rem;
    padding-right: 55rem;
    margin-bottom: 10rem;
}
  .text input{
    font-size: 13rem;
    line-height: 21rem;
  }
  
  textarea{
    width: 100%;    
    min-height: 105rem;
    max-height: 155rem;
    padding: 15rem;
    border: 1rem solid #c5c5d4;
    font-size: 13rem;
    line-height: 21rem;
    font-family: "Arial";
    margin-bottom: 10rem;
    resize: vertical;
    box-sizing: border-box;
    border-radius: 3rem;
  }
  
  input[type=checkbox]{
    appearance: none;
    width: 15rem;
    height: 15rem;
    border-radius: 3rem;
  }
  
  .check{
    position: relative;
  }
  
  .check span{
    position: absolute;
  }
  
  input:checked + span{
    top: 3rem;
    left: 45%;
    width: 5rem;
    height: 8rem;
    border-top: 2rem solid #000;
    border-left: 2rem solid #000;
    transform: translate(-50%, -50%) rotate(-135deg);
  }
  
  input[type=submit]{
    width: 140rem;
    height: 41rem;
    border: none;
    border-radius: 21rem;
    background-color: #fd8300;
    font-size: 14rem;
    line-height: 24rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin-right: 30rem;
  }
  
  label span{
    font-size: 13rem;
    line-height: 21rem;
    color: #666666;
    font-family: "Arial";
  }
  
  
  
  
@media screen and (min-width: 487px){
    .flex-between{
        justify-content: space-between;
    }
}
@media screen and (min-width: 720px){
    .card{
        flex-wrap: wrap;
        display: flex;
        column-gap: 20px;
        padding-left: 0;
    }
}
@media screen and (max-width: 610px){
    .mail{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 725px){
    .mail{
        padding-top: 10rem;
        padding-right: 40rem;
    }
    .about-company{
        padding-left: 20rem;
    }
    .projects{
        padding-left: 20rem;
    }
}
@media screen and (max-width: 750px){ 
    main{
        padding-right: 20rem;
    }
}
@media screen and (max-width: 839px){ 
    .order{
        padding-top: 20rem;
    }
    .logo,
    .phone-number{
        padding-right: 50rem;
    }
    .down-menu{
        justify-content: space-between;
    }
}
@media screen and (max-width: 876px){
    html {
        font-size: 1px;
    }
    .wrapper{
        justify-content: center;
    } 
}
@media screen and (max-width: 1040px){
    aside{
        width: 100%;
        padding-bottom: 25rem;
        padding-top: 0rem;
    }
    main{
        flex-wrap: wrap-reverse;    
    }
    .header-contacts{
        column-gap: 20rem;
    }
}
@media screen and (min-width: 1040px){
    html {
        font-size: 1.2px;
    }
}
@media screen and (min-width: 2040px){
    html {
        font-size: 2px;
    }
}
  